<div class="jumbotron">
    <h1>Codename Badger</h1>

    <p class="lead">
        Realtime sticker swaps.
    </p>


</div>

<div>User: {{ userId }}</div>

<div>
    <h3>Missing</h3>
    <ul ng-repeat="missing in userMissings">
        <li>{{ missing }}</li>
    </ul>
    <input type="text" ng-model="newMissing"/>
    <button type="submit" ng-click="addMissing()" class="btn">Add New Missing Sticker</button>
</div>

<div>
    <h3>Swaps</h3>
    <ul ng-repeat="swap in userSwaps">
        <li>{{ swap }}</li>
    </ul>
    <input type="text" ng-model="newSwap"/>
    <button type="submit" ng-click="addSwap()" class="btn">Add New Swap Sticker</button>
</div>

<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>

    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or
        sites.
    </p>

</div>
<p>
<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</p>