<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">

        <div ng-hide="isLoggedIn">
            <p>
                <button ng-click="FacebookLogin()" class="btn btn-primary btn-xs">Facebook Login</button>
            </p>
            <p>Login via Facebook to start swapping with your friends.</p>
        </div>

        <div ng-show="isLoggedIn">
            <button ng-click="Logout()" class="btn btn-primary btn-xs">Logout</button>
        </div>

        <h2>{{ userDisplayName }}</h2>
        {{ userId }}

    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <h3>Need</h3>

        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    <textarea ng-model="newMissing" cols="30" rows="4"></textarea><br/>
                    <button type="submit" ng-click="addMissing()" class="btn btn-primary">Add</button>
                </p>


                <p>
        <span ng-repeat="(id, missing) in userMissings">
            <button type="button" class="btn btn-info btn-xs">{{ missing }}</button>
            <button ng-click="deleteMissing(id)" class="btn btn-default btn-xs">-</button>
            &nbsp;
        </span>
                </p>
                <!--
                <p>
                   <button type="submit" ng-click="clearMissings()" class="btn">Clear</button>
                </p>
                -->
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <h3>Swaps</h3>

        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    <textarea ng-model="newSwap" cols="30" rows="4"></textarea><br/>
                    <button type="submit" ng-click="addSwap()" class="btn btn-primary">Add</button>
                </p>
                <p>
                <span ng-repeat="(id, swap) in userSwaps">
                   <button type="button" class="btn btn-info btn-xs">{{ swap }}</button>
                   <button ng-click="deleteSwap(id)"
                           class="btn btn-default btn-xs">-
                   </button>
                  &nbsp;
                </span>
                </p>
                <!--
                <p>
                      <button type="submit" ng-click="clearSwaps()" class="btn">Clear</button>
                </p>
                -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Theirs</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Swapper Id: <input type="text" ng-model="otherUserId"/>
                </p>

                <p>
                    <button ng-click="getOtherData()" class="btn btn-primary">Get Friend</button>
                </p>

                <p>
                    <button ng-click="matchSwaps()" class="btn btn-primary">Match Swaps</button>
                </p>

                <p>
                <span ng-repeat="oswap in otherSwaps">
                 <button type="button" class="btn btn-info btn-xs">{{ oswap }}</button>
                &nbsp;
                </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Matches</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                <span ng-repeat="matchItem in matches">
                <button type="button" class="btn btn-success">{{ matchItem }}</button>
                &nbsp;
                </span>
                </p>
            </div>
        </div>
    </div>
</div>

